<div class="form-group">
	<label for="CartSpecialInstructions" class="cart-note__label col-sm-text-center">{{ 'cart.labels.note' | t }}</label>
	<textarea name="note" id="CartSpecialInstructions" class="cart-note__input form-control" data-cart-notes>{{ cart.note }}</textarea>
</div>
