{%- assign variant_options = 'template ' | split: ' ' -%}
{%- if item.product.has_only_default_variant != true -%}
  {%- assign variant_options = item.options_with_values -%}
{%- endif -%}
{%- assign property_size = item.properties | size -%}


<div class="product-details{% if item.product.has_only_default_variant and property_size == 0 %} d-none {% endif %}" 
	data-cart-item-details 
	aria-label="{{ 'cart.labels.product_details' | t }}">
	{%- for option in variant_options -%}
		<span class="product-details__item product-details__item--variant-option{% if item.product.has_only_default_variant %} d-none{% endif %}" 
			data-cart-item-option><b>{{ option.name }}</b>: {{ option.value }}</span>{% unless forloop.last %}, {% endunless%}
	{%- endfor -%}
</div>
