<div class="cart-subtotal d-flex justify-content-between">
	<p class="cart-subtotal__title ">{{ 'cart.labels.subtotal' | t }}</p>
	<p class="cart-subtotal__price " data-cart-subtotal>{{ cart.total_price | money }}</p>
</div>
