<div sh-cart-alert>
	<div class="sh-cart-alert-text">
		<p>You hae added <span sh-cart-alert-text></span> to your cart</p>
	</div>
	<div class="sh-cart-alert-actions">
		<a href="/cart/" class="btn btn-primary btn-sm btn-no-arrow">View Cart</a>
		<a href="#" sh-cart-alert-close class = 'btn btn-close' aria-label="close cart alert notice"></a>
	</div>
</div>
