<div id="add-address-modal" class="my-4 pb-5 collapse " data-bs-parent="#customer-addresses">
    <h2 class="h4">Add New Address</h2>
    {%- form 'customer_address', customer.new_address,  class:'form' -%}
        {% render 'customer-address-form' form:form address:address %}
    {%- endform -%}
</div>      
