{% schema %}
{
  "name": "Custom Iframe",
  "settings": [
    {
      "type": "url",
      "id": "iframe_url",
      "label": "Iframe URL"
    }
  ],
  "presets": [
    {
      "name": "Custom Iframe"
    }
  ]
}
{% endschema %}

<div class="custom-iframe">
  <iframe src="{{ section.settings.iframe_url }}" width="100%" height="500" frameborder="0"></iframe>
</div>
