{% schema %}
{
  "name": "Custom Embed",
  "settings": [
    {
      "type": "html",
      "id": "embed_code",
      "label": "Embed Code",
      "default": "<iframe src='https://example.com' width='100%' height='600' style='border:none'></iframe>"
    }
  ],
  "presets": [
    {
      "name": "Custom Embed"
    }
  ]
}
{% endschema %}

<div class="custom-embed">
  {{ section.settings.embed_code }}
</div>