<section class="find-nearby" id="{{section.settings.section_id | default : section.id}}">
    <div class="container">
        <div class="row" style="padding: 0;">
            <iframe 
              id="pournow-shelf"
              src="https://find.pour.now/61eca7a0-681f-4883-b3dd-d2a92552cb3e" 
              allow="geolocation"
              style="border: none" 
              width="100%" 
            >
            </iframe>          
        </div>
    </div>
</section>


    {% schema %}
{
    "name": "Find Nearby",
    "settings": [


    ],
    "presets": [
        {
            "name": "Find Nearby",
            "settings" : {}
        }
    ]
}
{% endschema %}