<section class="stockist-store-locator" id="{{section.settings.section_id | default : section.id}}">
    <div class="container">
        <div class="row">
            <!-- Start Stockist.co widget -->
            <stockist-store-locator data-stockist-widget-tag="u14669">
                Loading store locator from <a href="https://stockist.co">Stockist store locator</a>...
            </stockist-store-locator>
            <script async src="https://stockist.co/embed/v1/widget.min.js"></script>
            <!-- End Stockist.co widget -->
        </div>
    </div>
</section>


    {% schema %}
{
    "name": "Stockist Store Locator",
    "settings": [
    ],
    "presets": [
        {
            "name": "Stockist Store Locator",
            "settings" : {}
        }
    ]
}
{% endschema %}