<section class="store-locator" id="{{section.settings.section_id | default : section.id}}">
    <div class="container">
        <div class="row">
            <iframe 
              id="pournow-shelf"
              src="https://find.pour.now/61eca7a0-681f-4883-b3dd-d2a92552cb3e?productId=24935178" 
              allow="geolocation"
              style="border: none" 
              width="100%" 
              height="800"
              loading="eager"
              fetchpriority="high"
            >
            </iframe>
        </div>
    </div>
</section>


    {% schema %}
{
    "name": "Store Locator",
    "settings": [


    ],
    "presets": [
        {
            "name": "Store Locator",
            "settings" : {}
        }
    ]
}
{% endschema %}