{%- layout none -%}
{%- liquid
  assign limit = 12
  if canonical_url contains  'limit'
    assign limit = canonical_url | split: 'limit=' | last | plus:0
  endif
  assign type = "grid"
  if canonical_url contains  'type'
    assign type = canonical_url | split: 'type=' | last 
  endif
  assign handle = "null"
  if canonical_url contains  'handle'
    assign handle = canonical_url | split: 'handle=' | last
    assign handle = handle | split: '&' | first | replace : '%2f', '/'
    if handle == ''
      assign handle = 'null'
    endif 
  endif

-%}
{%- paginate blog.articles by limit -%}
{%- if type == 'grid' -%}
    {%- for article in blog.articles -%}
        {%- unless article.handle == handle -%}
          <div class="col-lg-6">
              {%- render 'article-grid-item' article:article -%}
            </div>
        {%- endunless -%}
      {%- endfor -%}
  {%- endif -%}
  {%- if type == 'card' -%}
    {%- for article in blog.articles -%}
      {%- unless article.handle == handle -%}
        <div class="swiper-slide">
          {%- render 'article-card-item' article:article -%}
        </div>
      {%- endunless -%}
    {%- endfor -%}  
  {%- endif -%}
{%- endpaginate -%}
